

nav a {
    color: white;
}

.chat-row{
    display: flex;
    width: 100%;
}

.chat-col-30{
    width: 11%;
}

.chat-col-70{
    width: 89%;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;
    margin-left: 25px;
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}